#mainGraph {
    min-height:700px;
}

body, button, input, optgroup, select, textarea {
    font-family: 'droid sans'
}

html {
    height: 100vh;
}

body {
    height:100%;
}

#react-entry-point{
    height:100%
}

#_dash-app-content {
    height:100%
}

#mainColumns {
    height:100%
}

#layout{
    height:100%
}

.p-4 {
    padding-top: 1rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.column{
    padding:unset
}